.auth-page {
  background-image: url("/images/signup/background.jpg");
  background-size: cover;
}

@media (max-width: 599px) {
  .auth-page {
    background-image: none;
    background-size: cover;
  }
}
